.containerChats{
padding: 10px;

.searchChats{
    position: relative;
    border-radius: 15px;
    background-color: transparent;
    height: 50px;
    width: 100%;
    padding-left: 40px;
}
.icon{
    position: absolute;
   margin-top: 5px;
   margin-left: 2px;
}}