.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-right: 2px solid rgba(255, 255, 255, 0.12);
    
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
}

.navLink {
  color: black; /* колір за замовчуванням */
  text-decoration: none; /* видаляємо декорацію */
}

.navLink.activeNavLink {
  color: white; /* колір для активного NavLink */
}