@import url("./scss/global.scss");


html,
body {
	color: #efeff3;
	background: linear-gradient(to top right, #6b6767, #765c68);
	position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
